{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="col">
        <h1>{{message}}</h1>
        <ul class="list-group">
            {%for producto in productos%}
            <li class="list-group-item">
                <p> {{producto.nombre}}

                    <span class="text-success">${{producto.precio}}</span>

                    <!--
                    {%if producto.stock %}
                    <span class="text-success">Disponible!</span> {%else%}
                    <span class="text-danger">No disponible!</span> 
                    {%endif%}
                    -->
                </p>
            </li> {%endfor%}
        </ul>
    </div>
</div>
{% endblock %}